.container {
    display: flex;
    flex-direction: column;
}

section {
    display: block;
}

.firstArticle, .secondArticle {
    flex-grow: 1;
    background-color: #b5b5c7; 
    color: white;
    padding: 20px;
    text-align: center;
}

.firstArticle {
    background-image: url("./images/background.jpeg");
    background-size: cover;
    background-position: center center; 
    height: 50vh;  
    overflow: hidden; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 100px; 
    /* width: 100%; */
}

.secondArticle {
    display: flex;
}

article {
    flex-grow: 1;
}

.footer {
    display: flex;
    justify-content: center;
}

.article-container {
    display: flex;
}

footer article {
    background-color: #34495e;
    color: white;
    text-align: center;
    padding: 10px;
    flex: 1; 
    /* margin: 5px; */
}

#titleImage {
    width: 50%;
    padding: 5%;
}

header {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

body {
    padding-left: 10%;
    padding-right: 10%;
}

.container.nav {
    background-color: #333; 
}

nav ul {
    list-style-type: none; 
    margin: 0;
    padding: 1%;
    display: flex; 
    justify-content: space-around; 
    background-color: grey; 
}

nav li {
    margin: 0;
    padding: 0;
    color: white;
}

nav li a {
    text-decoration: none; 
    color: white; 
    padding: 10px 20px;
    display: block;
}

nav li a:hover {
    background-color: #555;
}

section > article {
    overflow: hidden;
}

.subImages {
    width: 50%;
    border: 1px black transparent;
    border-radius: 2.5%;
}

.secondArticle > article {
    width: 33%;
    border: 1px black transparent;
    margin: 1%;
    border-radius: 2.5%;
    background-color: grey;
    padding: 1%;
}

.secondArticle > article > p {
    padding: 5%;
    text-align: left;
}

.firstArticle > h1 {
    text-align: left;
    padding-top: 12.5%;
}

.firstArticle > p {
    text-align: left;
    width: 50%;
    font-size: 1.25em;
}

h1 {
    font-size: 2.25em;
}